@import '../../../styles/variables.scss';

.quizPreviewContainer {
  background-color: $tertiary-color;
  border-radius: 25px;
  max-width: 500px;
  margin: 30px auto;
  padding: 10px 30px;
  box-shadow: 2px 3px 7px RGBA(26, 27, 65, 0.6);
  transition: 200ms;

  &:hover {
    background-color: rgb(157, 223, 245);
  }
}

.quizPreview {
  text-decoration: none;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .authorField {
    margin-top: 0;
    opacity: 0.85;
    color: $primary-color;
    font-size: 0.9rem;
  }

  .quizPreviewInfo {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color: $primary-color;
  }
}