@import '../../../styles/variables.scss';

.quizPreviewContainer {
  background-color: $tertiary-color;
  border-radius: 25px;
  max-width: 500px;
  margin: 30px auto;
  @include boxshadow;
  transition: 200ms;

  &:hover {
    background-color: rgb(157, 223, 245);
  }
}

.quizPreview {
  text-decoration: none;

  h3 {
    font-size: 1.5rem;
    background-color: $secondary-color;
    color: white;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0.3rem 1rem;
  }

  .quizPreviewInfo {
    padding: 1rem;
  }

  .authorField {
    margin-top: 0;
    opacity: 0.85;
    color: $primary-color;
  }

  .quizPreviewStats {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color: $primary-color;
  }
}